@model CvGenerator.Models.All

<div class="card-body">
    @Html.Hidden("type")
    <div class="button-items" style="float:right;">
        <div class="btn-group dropstart">
            <button style="margin:0 5px 7px 0" type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="mdi mdi-chevron-left"></i>Shkarko
            </button>
            <div class="dropdown-menu">
                <button class="dropdown-item" onclick="Report(ReportType.PDF)">
                    <img src="~/Media/Extensions/pdf.png" class="btn-download" asp-append-version="true" />
                    <span class="title text-center w-100">PDF</span>
                </button>
                <button class="dropdown-item" onclick="Report(ReportType.EXCEL)">
                    <img src="~/Media/Extensions/xls.png" class="btn-download" asp-append-version="true" />
                    <span class="title text-center w-100">Excel</span>
                </button>
            </div>
        </div>
    </div>

    <h2>Personal Information:</h2>
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Birth Date
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                    Email
                </th>
                <th>
                    Address
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.User)
            {
                <tr>
                    <td width="13%">
                        @obj.FirstName
                    </td>
                    <td width="13%">
                        @obj.LastName
                    </td>
                    <td width="13%">
                        @obj.BirthDate.ToShortDateString()
                    </td>
                    <td width="13%">
                        @obj.PhoneNumber
                    </td>
                    <td width="23%">
                        @obj.Email
                    </td>
                    <td width="25%">
                        @obj.Address
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h2>Education:</h2>
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Institution Name
                </th>
                <th>
                    Study Field
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                    Grade
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.Education)
            {
                <tr>
                    <td width="29%">
                        @obj.Name
                    </td>
                    <td width="29%">
                        @obj.Field
                    </td>
                    <td width="15%">
                        @obj.StartDate
                    </td>
                    <td width="15%">
                        @obj.EndDate
                    </td>
                    <td width="12%">
                        @obj.Grade
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h2>Skills:</h2>
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Skill Name
                </th>
                <th>
                    Description
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.Skills)
            {
                <tr>
                    <td width="20%">
                        @obj.Name
                    </td>
                    <td width="80%">
                        @obj.Description
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h2>Work Experience:</h2>
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Title Name
                </th>
                <th>
                    Company Name
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                    Responsibilities
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.WorkExperience)
            {
                <tr>
                    <td width="20%">
                        @obj.Title
                    </td>
                    <td width="20%">
                        @obj.Company
                    </td>
                    <td width="15%">
                        @obj.StartDate
                    </td>
                    <td width="15%">
                        @obj.EndDate
                    </td>
                    <td width="30%">
                        @obj.Responsibilities
                    </td>

                </tr>
            }
        </tbody>
    </table>

    <h2>Certification and Trainings:</h2>
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Certification Name
                </th>
                <th>
                    Company Name
                </th>
                <th>
                    Issue Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.CertificationAndTraining)
            {
                <tr>
                    <td width="42%">
                        @obj.Name
                    </td>
                    <td width="43%">
                        @obj.Company
                    </td>
                    <td width="15%">
                        @obj.IssueDate
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h2>References:</h2>
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Person or company name
                </th>
                <th>
                    Contact
                </th>
                <th>
                    Description
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.References)
            {
                <tr>
                    <td width="20%">
                        @obj.Name
                    </td>
                    <td width="20%">
                        @obj.Contact
                    </td>
                    <td width="60%">
                        @obj.Description
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h2>About me:</h2>
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Description:
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.Description)
            {
                <tr>
                    <td width="100%">
                        @obj.Des
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts{
    <script>
        function Report(type) {
            if (type == ReportType.PDF || type == ReportType.EXCEL) {
                $.ajax({
                    url: "/All/OpenIndexReport",
                    cache: false,
                    type: "POST",
                    dataType: "json",
                    success: function () {
                        if (type == '@((int)ReportType.Excel)')
                            window.open("/Reports/Design/?format=excel", '_blank');
                        else {
                            let W = window.open("/Reports/Design/?format=pdf", '_blank');
                            W.onload = function () { this.document.title = 'Raporti'; }
                        }
                    }
                });
            }
        }
    </script>
}